*:before, *:after {
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

html,body {
    display: flex;
    overflow: scroll;
    background-color: lightgray;
    height: 100%;
    width: 100vw;
    position: absolute;
    }

h1 {
    margin-left: auto;
    margin-right: auto;
}

main {
    overflow: visible;
    font-family: 'Montserrat Alternates', sans-serif;
    height: 100%;
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    bottom: 0;
    width: 100vw;
}

.header {
    display: flex;
    font-family: 'Montserrat Alternates', sans-serif;
    border-bottom: 2px solid rgb(112, 3, 3);
    background: rgb(155, 153, 153);
    letter-spacing: 10px;
    font-size: 1.5em;
    position: fixed;
    height: 15%;
    width: 100%;
    z-index: 1;
}

.header > div:nth-child(2) {
    margin-left: auto;
}

.home-button {
    padding: 2vw;
    font-size: 1em;
    color: #000;
    letter-spacing: 2px;
    text-decoration: none;
}

.featured-proj {
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    top: 0;
    bottom: 0;
    padding-right: 1.5em;
    padding-top: 2em;
    text-align: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 40vw 40vw;
    grid-gap: 20px;
    width: 100%;
}

.single-proj {
    flex-wrap: wrap;
    flex: 1;
    background-color: rgb(252, 247, 240);
    margin: 20px;
    border: 1.5px solid rgb(112, 3, 3);
    text-align: center;
}

.featured-img {
    display: column;
}

.featured-text {
    flex-wrap: flex;
    font-size: 1rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .main {
    padding-top: 102px;
}


@media screen and (min-width: 325px) {

    .header{
        font-size: 2vw;
    }

    main {
        width: 100vw;
    }
    

    .featured-img {
        width: 70%;
        height: 350px;
    }
}

    .header, 
    .featured {
    display: flex;
    margin: 0 auto;
    }

    .featured {
        margin: 0px auto 0;
    }

    .featured-proj {
        margin: 20px 20px 20px 0;
    }
    .featured-proj:last-child {
        margin-right: 0;
    }


@media screen and (min-width: 830px ) {
    .text-item {
        font-size: 2vw;
    }
    
    .text-item-header {
        font-size: 4vw;
    } 
}

@media screen and (min-width: 1300px) {
    .header{
        height: 30%;
    }
    .text-item {
        font-size: 1vw;
    }
    
   
    .text-item-header {
        font-size: 3vw;
    } 
}

@media screen and (max-width: 1015px) {
    .featured-proj {
        display: flex;
        flex-direction: column;
    }

    .single-proj {
        width: 100%;
    }
}
