*:before, *:after {
    box-sizing: border-box;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    margin: 0;
    padding: 0;
}

.current-projects {
    margin-top: 10px;
}

.gradient {
    background: radial-gradient( #fff, #000) no-repeat center center fixed;
    align-items: center;
}

.header {
    flex-direction: column;
    text-align: center;
}

.header-name {
    display: table-cell;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 9vw;
    color: #4d0000;
    margin-bottom: 10%;
    text-shadow: 1px 1px black;
    vertical-align: middle;
}

.header-text {
    display: table;
    margin-top: 20%;
    width: 100%;
}

.responsive-image {
    height: auto;
    max-width: 100%;
}


.text-item {
    color: #dd9242;
    font-family: 'IM Fell Double Pica', cursive;
    font-size: 7vw;
    font-weight: bold;
}

.text-item-header {
    color: #0c0101;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 10vw;
    text-align: center;
}

.links{
    padding-left: 10vw;
    color: #000;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 2.5vw;
    text-decoration: none;
    text-shadow: .3px .3px gray;
    opacity: 0;
    animation: fadein 4s ease-in forwards;
    animation-delay: 2.5s;
    display: inline-block;
    font-size: 3vw;
    text-align: center;
}

.bottom-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    padding-top: 2vw;
    justify-content: space-between;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 1000px) {
    .header-text {
        margin-top: 33vw;
    }
    .header-name{
        font-size: 25vw;
    }
    .bottom-links{
        text-align: center;
        align-items: center;
    }
    .links {
        display: inline-block;
        font-size: 5vw;
    }
}

@media screen and (max-width: 575px) {
    .header-text {
        margin-top: 32vw;
    }
    .header-name{
        font-size: 25vw;

    }
    .links {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 400px) {
    .header-text {
        margin-top: 32vw;
    }
    .header-name{
        font-size: 28vw;
    }
    .links {
        font-size: 6vw;
    }
}

/*header text effect*/

.stacy {
    margin-top: 25px;
    text-align: center;
    opacity: 0;
    animation: in 4s ease-out forwards;
    animation-delay: 1s;

}

@keyframes in{
    0%{
      letter-spacing: -8px;
      opacity: 0;
    }
    100%{
      letter-spacing: 9px;
      opacity: 1;
    }
  }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}






