*:before, *:after {
    box-sizing: border-box;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    margin: 0;
    padding: 0;
}

#html {
    display: flex;
    flex-direction: row;
    flex-wrap: flex;
    overflow: hidden;
}



.current-projects {
    margin-top: 10px;
}

.gradient {
    background: radial-gradient( #fff, #000) no-repeat center center fixed;
}

.header {
    flex-direction: column;
    text-align: center;
}

.header-name {
    font-family: 'IM Fell Double Pica', serif;
    font-size: 7vw;
    color: #4d0000;
    margin-bottom: 10%;
    text-shadow: 1px 1px black;
}

.header-text {
    margin-top: 20%;
    position: relative;
}

.responsive-image {
    height: auto;
    max-width: 100%;
}

/* subtitle animations*/

.sub-title {
    color: rgb(203, 242, 243);
    font: bolder;
    font-size: 1.5vw;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(243, 235, 220); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

.sub-two {
    animation: typing 4.2s steps(40, end), blink-caret .75s step-end infinite;
}

.sub-three {
    animation: typing 5s steps(40, end), blink-caret .75s step-end infinite;
}

.sub-four {
    animation: typing 5.3s steps(40, end), blink-caret .75s step-end infinite;
}
.text-item {
    color: #dd9242;
    font-family: 'IM Fell Double Pica', cursive;
    font-size: 7vw;
    font-weight: bold;
}

.text-item-header {
    color: #0c0101;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 10vw;
    text-align: center;
}

.projects-link{
    padding-left: 10vw;
    color: black;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 2.5vw;
    text-decoration: none;
    text-shadow: .3px .3px gray;
    opacity: 0;
    animation: fadein 4s ease-in forwards;
    animation-delay: 2.5s;

}

.projects-link-box{
    padding-top: .5vw;
}


/*MEDIA QUERIES*/

@media screen and (min-width: 480px) {
    .text-item {
        font-size: 4vw;
    }
    
    .text-item-header {
        font-size: 6vw;
    }

    .featured-img {
        width: 100%
    }
}

@media screen and (min-width: 720px) {
    .header {
        justify-content: space-between;
        margin: 0 auto 30px;
    }

    .header-text {
        text-align: right;
    }
    .header, 
    .featured {
    display: flex;
    margin: 0 auto;
    max-width: 1240px;
    }
    .featured {
        margin: 30px auto 0;
    }
    .featured-proj {
        margin: 20px 20px 20px 0;
    }
    .featured-proj:last-child {
        margin-right: 0;
    }
}

@media screen and (min-width: 830px ) {
    .text-item {
        font-size: 2vw;
    }
    
    .text-item-header {
        font-size: 4vw;
    } 
}

@media screen and (min-width: 1300px) {
    .text-item {
        font-size: 1vw;
    }
    
    .text-item-header {
        font-size: 3vw;
    } 
}



/*header text effect*/

.stacy {
    margin-top: 25px;
    text-align: center;
    opacity: 0;
    animation: in 4s ease-out forwards;
    animation-delay: 1s;

}

@keyframes in{
    0%{
      letter-spacing: -8px;
      opacity: 0;
    }
    100%{
      letter-spacing: 9px;
      opacity: 1;
    }
  }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}






